body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
}

header {
  margin-top: 75px;
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.footer {
  text-align: center;
  margin-top: 75px;
}